@use '../../scss/breakpoints.module.scss';

.hourly-forecast {
  width: 100%;
  height: 320px;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: breakpoints.$screen-small) {
    height: 270px;
  }

  header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chart-wrapper {
    width: 100%;
    height: 100%;

    transition: none;
    transition-property: none;
  }
}
