@use '../../scss/colors.module.scss';
@use '../../scss/mixins.scss';

.api-attribution {
  text-align: center;
  padding: 40px 0;

  .container {
    @include mixins.app-container;
  }

  a {
    text-decoration: none;
    color: lighten(colors.$black, 20%);

    &:visited {
      color: inherit;
    }
  }
}
